:root {
  --darkest-color: #24053e;
  --fourth-color: #584d62;
  --third-color: #44ffa1;
  --second-color: #fcf8ff;
  --lightest-color: #ffffff;
}

html{
  font-family: sans-serif;
   display:flex;
  justify-content: center;
  align-items:center;
}

.hero-container{
  position: relative;
  width: 100%;
  height: 80vh;
  display:flex;
  justify-content: center;
  align-items:center;
  overflow: hidden;

}

.hero-container h{
  position: relative;
  z-index: 0;
  margin: 0 auto;
}

.hero-container:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60vh; 
  background: #DCD2FF;
  border-radius:0 0 50% 50%/0 0 100% 100%;
  transform: scaleX(3);
}


.hero-container{
  background-color: var(--darkest-color);
}

.phone-pic{
  width:60vw;
  margin: auto;
}

.founder{
  width: 30vw;
}